
body {
  font-family: 'Inter', sans-serif;
  font-family: 'Manrope', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
}
.green {
  color: #74ed24;
}
.red {
  color: #ed464d;
}
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;

}
.logo {
  height: 32px;
  margin: 16px;
}

/* the style of the sidebar */

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important ;
  max-width: 80px !important ;
  min-width: 80px !important ;
  width: 80px !important ;
}

.ant-layout-sider-collapsed h2 {
  display: none;
}


.error {
  color: red;
  text-align: start;
  font-size: 14px;
  margin-top: -10px;
}